.checkout {
  padding: 40px 32px;
}

.date {
  margin: 10px 0 20px;
  padding: 10px;
  width: 260px;
}

.total {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 700;
  color: var(--primary);
}

.payBtn {
  padding: 12px 20px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
